@font-face {
	font-family: "rdcfont";
	src: url(../fonts/rdcfont.woff) format("woff");
	font-weight: normal;
	font-style: normal
}
.ra {
	display: inline-block;
	font: normal normal normal 14px/1 rdcfont;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	line-height: inherit;
	vertical-align: middle
}
.ra-lg {
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%
}
.ra-2x {
	font-size: 2em
}
.ra-3x {
	font-size: 3em
}
.ra-4x {
	font-size: 4em
}
.ra-5x {
	font-size: 5em
}
.ra-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle
}
.ra-stack-1x, .ra-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center
}
.ra-stack-1x {
	line-height: inherit
}
.ra-stack-2x {
	font-size: 2em
}
.ra-lot-size:before {
	content: "\e003"
}
.ra-block-r:before {
	content: "\e005"
}
.ra-arrow-down:before {
	content: "\e006"
}
.ra-phone:before {
	content: "\e007"
}
.ra-print:before {
	content: "\e008"
}
.ra-share-square:before {
	content: "\e009"
}
.ra-heart:before {
	content: "\e00a"
}
.ra-heart-o:before {
	content: "\e00b"
}
.ra-calendar:before {
	content: "\e00d"
}
.ra-chevron-left:before {
	content: "\e00e"
}
.ra-chevron-right:before {
	content: "\e00f"
}
.ra-external-link:before {
	content: "\e010"
}
.ra-mobile:before {
	content: "\e011"
}
.ra-comment:before {
	content: "\e012"
}
.ra-home:before {
	content: "\e013"
}
.ra-video-camera:before {
	content: "\e015"
}
.ra-map-marker:before {
	content: "\e016"
}
.ra-search:before {
	content: "\e017"
}
.ra-resize-expand:before {
	content: "\e018"
}
.ra-tag:before {
	content: "\e019"
}
.ra-leaf:before {
	content: "\e01a"
}
.ra-info-circle:before {
	content: "\e01b"
}
.ra-pencil:before {
	content: "\e01c"
}
.ra-trash-bin:before {
	content: "\e01d"
}
.ra-facebook:before {
	content: "\e01f"
}
.ra-twitter:before {
	content: "\e020"
}
.ra-pinterest:before {
	content: "\e021"
}
.ra-google-plus:before {
	content: "\e022"
}
.ra-camera:before {
	content: "\e023"
}
.ra-envelope:before {
	content: "\e024"
}
.ra-star-o:before {
	content: "\e01e"
}
.ra-star-half:before {
	content: "\e026"
}
.ra-star:before {
	content: "\e027"
}
.ra-calculator:before {
	content: "\e025"
}
.ra-street-view:before {
	content: "\e02b"
}
.ra-angle-up:before {
	content: "\e028"
}
.ra-angle-down:before {
	content: "\e02c"
}
.ra-close:before {
	content: "\e02d"
}
.ra-circle:before {
	content: "\e02e"
}
.ra-sort-down:before {
	content: "\e02f"
}
.ra-plus:before {
	content: "\e031"
}
.ra-minus:before {
	content: "\e032"
}
.ra-th-list:before {
	content: "\e033"
}
.ra-angle-left:before {
	content: "\e034"
}
.ra-angle-right:before {
	content: "\e035"
}
.ra-circle-minus:before {
	content: "\e036"
}
.ra-circle-plus:before {
	content: "\e037"
}
.ra-check-mark:before {
	content: "\e038"
}
.ra-cancel-circled:before {
	content: "\e042"
}
.ra-check-mark-circle-two:before {
	content: "\e044"
}
.ra-sun-o:before {
	content: "\e045"
}
.ra-car:before {
	content: "\e046"
}
.ra-graduation-cap:before {
	content: "\e047"
}
.ra-crosshair:before {
	content: "\e041"
}
.ra-facebook-square:before {
	content: "\e049"
}
.ra-twitter-square:before {
	content: "\e04b"
}
.ra-google-plus-square:before {
	content: "\e04c"
}
.ra-pinterest-square:before {
	content: "\e04d"
}
.ra-directions:before {
	content: "\e04a"
}
.ra-envelope-square:before {
	content: "\e04e"
}
.ra-cog:before {
	content: "\e04f"
}
.ra-clock-o:before {
	content: "\e050"
}
.ra-coffee-shops:before {
	content: "\e052"
}
.ra-barsrestaurants:before {
	content: "\e053"
}
.ra-grocery-stores:before {
	content: "\e056"
}
.ra-insurance-agents:before {
	content: "\e057"
}
.ra-usd:before {
	content: "\e058"
}
.ra-file-text-o:before {
	content: "\e059"
}
.ra-line-chart:before {
	content: "\e05a"
}
.ra-question-circle:before {
	content: "\e05b"
}
.ra-drug-stores:before {
	content: "\e05c"
}
.ra-savings:before {
	content: "\e05f"
}
.ra-thumbs-up:before {
	content: "\e061"
}
.ra-arrow-circle-left:before {
	content: "\e062"
}
.ra-vu-star:before {
	content: "\e063"
}
.ra-dollar-zero:before {
	content: "\e064"
}
.ra-pencil-square-o:before {
	content: "\e066"
}
.ra-gas-stations:before {
	content: "\e055"
}
.ra-arrow-up:before {
	content: "\e048"
}
.ra-3d-walkthough:before {
	content: "\e05d"
}
.ra-fire:before {
	content: "\e071"
}
.ra-laundry-service:before {
	content: "\e068"
}
.ra-golf-course:before {
	content: "\e06a"
}
.ra-my-location:before {
	content: "\e06b"
}
.ra-fitness-center:before {
	content: "\e06c"
}
.ra-pool:before {
	content: "\e06d"
}
.ra-water-front:before {
	content: "\e06e"
}
.ra-ac-unit:before {
	content: "\e06f"
}
.ra-hot-tub:before {
	content: "\e070"
}
.ra-hardwoodfloor:before {
	content: "\e067"
}
.ra-basement:before {
	content: "\e072"
}
.ra-check-thin:before {
	content: "\e073"
}
.ra-plus-thin:before {
	content: "\e074"
}
.ra-close-thin:before {
	content: "\e075"
}
.ra-bike:before {
	content: "\e076"
}
.ra-walk:before {
	content: "\e077"
}
.ra-transit:before {
	content: "\e078"
}
.ra-identity:before {
	content: "\e079"
}
.ra-bubble:before {
	content: "\e07a"
}
.ra-block-r-simplified:before {
	content: "\e07b"
}
.ra-bathtub:before {
	content: "\e07c"
}
.ra-android-textsms:before {
	content: "\e082"
}
.ra-envelope-1:before {
	content: "\e083"
}
.ra-pinterest-p:before {
	content: "\e084"
}
.ra-commenting-o:before {
	content: "\e085"
}
.ra-eye:before {
	content: "\e087"
}
.ra-note-fill:before {
	content: "\e089"
}
.ra-income:before {
	content: "\e086"
}
.ra-location:before {
	content: "\e08a"
}
.ra-down-payment:before {
	content: "\e08c"
}
.ra-debt:before {
	content: "\e08d"
}
.ra-preapproval:before {
	content: "\e08e"
}
.ra-rates:before {
	content: "\e08f"
}
.ra-calc-refinance:before {
	content: "\e090"
}
.ra-calc-mortgage:before {
	content: "\e091"
}
.ra-linkedin:before {
	content: "\e094"
}
.ra-small-house:before {
	content: "\e054"
}
.ra-big-house:before {
	content: "\e095"
}
.ra-rent-vs-buy:before {
	content: "\e093"
}
.ra-calc-affordability:before {
	content: "\e092"
}
.ra-filters:before {
	content: "\e004"
}
.ra-home2-o:before {
	content: "\e096"
}
.ra-contact-agent:before {
	content: "\e097"
}
.ra-contact-agent-o:before {
	content: "\e098"
}
.ra-usd-o:before {
	content: "\e0a0"
}
.ra-bed-o:before {
	content: "\e0a1"
}
.ra-size:before {
	content: "\e002"
}
.ra-ph-delisted:before {
	content: "\e09c"
}
.ra-ph-listed:before {
	content: "\e09d"
}
.ra-ph-price-changed:before {
	content: "\e09e"
}
.ra-ph-sold:before {
	content: "\e09f"
}
.ra-quick-to-sell:before {
	content: "\e0ab"
}
.ra-ml-cap:before {
	content: "\e0ae"
}
.ra-ml-shield:before {
	content: "\e0b0"
}
.ra-price-increase:before {
	content: "\e0ad"
}
.ra-days-on-market:before {
	content: "\e0b1"
}
.ra-neighborhood-median-price:before {
	content: "\e0b2"
}
.ra-comparable-homes:before {
	content: "\e0b3"
}
.ra-schools:before {
	content: "\e0b4"
}
.ra-similar-homes:before {
	content: "\e0b5"
}
.ra-property-history:before {
	content: "\e0b6"
}
.ra-property-features:before {
	content: "\e0b7"
}
.ra-open-house:before {
	content: "\e0ba"
}
.ra-payment-options:before {
	content: "\e0bb"
}
.ra-neighborhood:before {
	content: "\e0bc"
}
.ra-price-decrease:before {
	content: "\e0ac"
}
.ra-arrows-up:before {
	content: "\e0c0"
}
.ra-arrows-down:before {
	content: "\e0c1"
}
.ra-recently-sold:before {
	content: "\e0bd"
}
.ra-ml-shop:before {
	content: "\e0c2"
}
.ra-home-style:before {
	content: "\e0c4"
}
.ra-property-type:before {
	content: "\e0c5"
}
.ra-couple:before {
	content: "\e065"
}
.ra-days-on-realtor:before {
	content: "\e0c8"
}
.ra-listing-type:before {
	content: "\e0cb"
}
.ra-price-per-sq-ft:before {
	content: "\e0ce"
}
.ra-status-pending:before {
	content: "\e0d1"
}
.ra-status-sale:before {
	content: "\e0d2"
}
.ra-status-sold:before {
	content: "\e0d3"
}
.ra-year-built:before {
	content: "\e0d4"
}
.ra-property-value-medium:before {
	content: "\e0d5"
}
.ra-property-value-light:before {
	content: "\e0d6"
}
.ra-kf-sale:before {
	content: "\e0a5"
}
.ra-kf-price-per-sq-ft:before {
	content: "\e0a7"
}
.ra-kf-rdc:before {
	content: "\e0a8"
}
.ra-kf-built:before {
	content: "\e0a9"
}
.ra-kf-house:before {
	content: "\e0aa"
}
.ra-map-fullscreen:before {
	content: "\e0c6"
}
.ra-map-collapse:before {
	content: "\e0c7"
}
.ra-homes-around:before {
	content: "\e000"
}
.ra-hide-fg:before {
	content: "\e00c"
}
.ra-hide-bg:before {
	content: "\e014"
}
.ra-bus:before {
	content: "\e029"
}
.ra-commenting:before {
	content: "\e02a"
}
.ra-special-features:before {
	content: "\e039"
}
.ra-gridview:before {
	content: "\e03a"
}
.ra-bc-filters:before {
	content: "\e03b"
}
.ra-bc-listview:before {
	content: "\e03c"
}
.ra-bc-map-marker:before {
	content: "\e03d"
}
.ra-all-units:before {
	content: "\e03e"
}
.ra-building-overview:before {
	content: "\e03f"
}
.ra-home-value:before {
	content: "\e040"
}
.ra-rentals:before {
	content: "\e043"
}
.ra-number-of-units:before {
	content: "\e051"
}
.ra-share:before {
	content: "\e030"
}
.ra-fire-1:before {
	content: "\e05e"
}
.ra-pie-chart:before {
	content: "\e060"
}
.ra-bc-house-for-sale:before {
	content: "\e069"
}
.ra-privacy-policy-lock:before {
	content: "\e07d"
}
.ra-x-close:before {
	content: "\e07e"
}
.ra-district:before {
	content: "\e001"
}
.ra-bc-map-o:before {
	content: "\e080"
}
.ra-bc-columns:before {
	content: "\e07f"
}
.ra-bc-globe:before {
	content: "\e081"
}
.ra-rotate:before {
	content: "\e088"
}
.ra-call-us:before {
	content: "\e08b"
}
.ra-recent-searches:before {
	content: "\e099"
}
.ra-saved-searches:before {
	content: "\e09a"
}
.ra-popular-searches:before {
	content: "\e09b"
}
.ra-saved-homes:before {
	content: "\e0a2"
}